pkgbase = vk-turn-proxy-git
	pkgver = r53.37ee4e0
	pkgrel = 1
	url = https://github.com/cacggghp/vk-turn-proxy
	arch = x86_64
	license = GPL3
	makedepends = git
	makedepends = go
	makedepends = upx
	options = !debug
	options = !strip
	backup = etc/default/vk-turn-proxy-server
	backup = etc/default/vk-turn-proxy-client
	source = vk-turn-proxy-git::git+https://github.com/cacggghp/vk-turn-proxy.git
	source = sysusers-client
	source = sysusers-server
	source = vk-turn-proxy-client.service
	source = vk-turn-proxy-server.service
	source = vk-turn-proxy-client.env
	source = vk-turn-proxy-server.env
	sha256sums = SKIP
	sha256sums = 30444c5854ab5ef72d3038407efab76c94cf7a4ce43e64d09c55b1c12a04870d
	sha256sums = bbdf362ca613b705101f5ec86d32b3219669d18a27feb2ad6b3bf31bcf071eec
	sha256sums = 06c0d92355ef35eb780dbea7903f8f2981d4f1773f918c85931bb472f837d980
	sha256sums = 720cbae82e7d5a4055d0e127cac372d6935c99e5562c95d44e0d471c7174da66
	sha256sums = 3342ac4dee1c2e7276f6dda9ff378b32f7101120b7d4036aea18a81c75e3ab05
	sha256sums = a974646f1b088dc3285ab73f645ee6b2d6b92d1d57622079a2c4aa7ac33aa9a4

pkgname = vk-turn-proxy-git-server
	pkgdesc = VK TURN Proxy - Server component
	depends = glibc

pkgname = vk-turn-proxy-git-client
	pkgdesc = VK TURN Proxy - Client component
	depends = glibc
	depends = iproute2
