pkgbase = linux-official-custom
	pkgdesc = Linux
	pkgver = 6.16.10
	pkgrel = 1
	url = https://github.com/archlinux/linux/releases/tag/v6.16.10-arch1
	arch = x86_64
	license = GPL2
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = tar
	makedepends = xz
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = texlive-latexextra
	options = !strip
	options = !debug
	options = !lto
	source = archlinux-linux.tar.gz::https://github.com/archlinux/linux/archive/refs/tags/v6.16.10-arch1.tar.gz
	source = config-arch::https://gitlab.archlinux.org/archlinux/packaging/packages/linux/-/raw/main/config
	source = more-uarches-20250818.2.tar.gz::https://github.com/graysky2/kernel_compiler_patch/archive/20250818.2.tar.gz
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = A2FF3A36AAA56654109064AB19802F8B0D70FC30
	validpgpkeys = C7E7849466FE2358343588377258734B41C31549
	b2sums = afbeb5c3c8b47f30d62a4bae4937bd4a8d506b2bd0e94ef6d281d0b25f3e24f15c4a89d15240c619a878b5058ed6d7517b5951ba6addf37b2ad442e61b2930da
	b2sums = SKIP
	b2sums = 58b007e983845716a777b81ca459cbb075f8618654eacbff0690581057632eda494a0238034d9f3e84d504a4a223cb6d895074f0acdfe050a5f9b36a9d981c6d

pkgname = linux-official-custom
	pkgdesc = The Linux kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = v4l2loopback-utils: v4l2-loopback device utilities
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-official-custom-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole
