pkgbase = adguardhome-bin
	pkgdesc = Network-wide ads and trackers blocking DNS server (binary version).
	pkgver = 0.107.71
	pkgrel = 1
	url = https://github.com/AdguardTeam/AdGuardHome
	install = adguardhome-bin.install
	arch = i686
	arch = x86_64
	license = GPL
	provides = adguardhome-bin
	conflicts = adguardhome
	options = !strip
	options = !debug
	source = sysusers.conf
	source = tmpfiles.conf
	source = AdGuardHome.service
	source = adguard-cert.sh
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	source_i686 = AdGuardHome-0.107.71-i686.tar.gz::https://github.com/AdguardTeam/AdGuardHome/releases/download/v0.107.71/AdGuardHome_linux_386.tar.gz
	sha256sums_i686 = abbed72a497c27f06b456466bcbcd0c66809e42bbb4f2db26176b5aad547efc2
	source_x86_64 = AdGuardHome-0.107.71-x86_64.tar.gz::https://github.com/AdguardTeam/AdGuardHome/releases/download/v0.107.71/AdGuardHome_linux_amd64.tar.gz
	sha256sums_x86_64 = b4b01a5da971a67bc2458ba0fc075de1b356cf6a37843e900177f329777cc5db

pkgname = adguardhome-bin
