pkgbase = simple-obfs
	pkgdesc = A simple obfusacting tool designed as plugin server of shadowsocks
	pkgver = 0.0.5
	pkgrel = 4
	url = https://github.com/shadowsocks/simple-obfs
	arch = x86_64
	license = GPL
	makedepends = asciidoc
	makedepends = xmlto
	depends = libev
	depends = libcork
	options = staticlibs
	options = !lto
	options = !debug
	source = simple-obfs-0.0.5.tar.gz::https://github.com/shadowsocks/simple-obfs/archive/v0.0.5.tar.gz
	source = simple-obfs-gcc-9.patch::https://github.com/shadowsocks/simple-obfs/pull/252.patch
	sha512sums = aadb812d5a57fea664958b66aae0c5be5e82309758706181ed5f1c76a986c1a6eaa82a6cb8b242052a951dd2d9d178d734f04052be887b5dd8f336808db61bcb
	sha512sums = a96f2ec88229ca1d4850fbccc76958945e4cade3c5ae4ec3849c36909220ee66a9c13b8818614426421f0c340c8cae40b8232137a44c35672061103dab8da3c9

pkgname = simple-obfs
