pkgbase = gcc9-bin
	pkgdesc = The GNU Compiler Collection - C frontend (series 9.x)
	pkgver = 9.5.0_6ubuntu2
	pkgrel = 1
	url = https://packages.ubuntu.com/noble/source/gcc-9
	arch = x86_64
	license = GPL
	license = LGPL
	license = FDL
	license = custom
	noextract = cpp-9_9.5.0-6ubuntu2_amd64.deb
	noextract = gcc-9_9.5.0-6ubuntu2_amd64.deb
	noextract = libgcc-9-dev_9.5.0-6ubuntu2_amd64.deb
	noextract = g++-9_9.5.0-6ubuntu2_amd64.deb
	noextract = libstdc++-9-dev_9.5.0-6ubuntu2_amd64.deb
	noextract = gfortran-9_9.5.0-6ubuntu2_amd64.deb
	options = !lto
	options = !debug
	source_x86_64 = http://archive.ubuntu.com/ubuntu/pool/universe/g/gcc-9/cpp-9_9.5.0-6ubuntu2_amd64.deb
	source_x86_64 = http://archive.ubuntu.com/ubuntu/pool/universe/g/gcc-9/gcc-9_9.5.0-6ubuntu2_amd64.deb
	source_x86_64 = http://archive.ubuntu.com/ubuntu/pool/universe/g/gcc-9/libgcc-9-dev_9.5.0-6ubuntu2_amd64.deb
	source_x86_64 = http://archive.ubuntu.com/ubuntu/pool/universe/g/gcc-9/g++-9_9.5.0-6ubuntu2_amd64.deb
	source_x86_64 = http://archive.ubuntu.com/ubuntu/pool/universe/g/gcc-9/libstdc++-9-dev_9.5.0-6ubuntu2_amd64.deb
	source_x86_64 = http://archive.ubuntu.com/ubuntu/pool/universe/g/gcc-9/gfortran-9_9.5.0-6ubuntu2_amd64.deb
	sha256sums_x86_64 = 3735441b7bc5659ee44a3b99d3551c023817eb3e5ff32cd2f2c74f7c103d060e
	sha256sums_x86_64 = a51a5fe2d9ab2f0887ac6845454c4a516dcb071c9fcbbc0a5f057b376bf2dc42
	sha256sums_x86_64 = b7895cdde615e116f6aa3007a257bc7b78ac7d34b37d83be9ae6a71af2b6559e
	sha256sums_x86_64 = 0ed635d28634b07163ff5213d588555812ce93d4a42a104d9f942bbb9e7272ff
	sha256sums_x86_64 = 9370c8db885cb2dd362c48bfbd13cc6583d0ddbb9c44dd7f6305723b82e4eb06
	sha256sums_x86_64 = c1d43d0ed3a065064127132c2c459125857c47c650a8916d513d4172ba3df89e

pkgname = gcc9-bin
	depends = libisl
	provides = gcc9
	conflicts = gcc9

pkgname = g++9-bin
	pkgdesc = The GNU Compiler Collection - C++ frontend (series 9.x)
	depends = gcc9-bin

pkgname = gfortran9-bin
	pkgdesc = Fortran front-end for GCC (series 9.x)
	depends = gcc9-bin
	conflicts = gcc9-fortran
