pkgbase = amneziawg-go
	pkgdesc = VPN amnezia WireGuard Golang userspace implementation
	pkgver = 1.5
	pkgrel = 1
	url = https://github.com/you-oops-dev/amneziawg-go
	arch = any
	license = GPL
	makedepends = git
	makedepends = go
	makedepends = upx
	depends = bash
	options = !strip
	source = amneziawg-go::git+https://github.com/you-oops-dev/amneziawg-go.git
	sha256sums = SKIP

pkgname = amneziawg-go
