pkgbase = lumina-desktop
	pkgdesc = A Lightweight QT5 Desktop for FreeBSD
	pkgver = 1.6.2
	pkgrel = 3
	url = https://lumina-desktop.org/
	arch = x86_64
	arch = i686
	arch = armv7h
	arch = aarch64
	license = BSD
	makedepends = qt5-tools
	makedepends = qt5-svg
	makedepends = qt5-declarative
	makedepends = libxcursor
	depends = poppler-qt5
	depends = qt5-x11extras
	depends = qt5-multimedia
	optdepends = xorg-xbacklight: required for changing screen brightness
	optdepends = alsa-utils: required for adjusting audio volume
	optdepends = acpi: required for monitoring battery life
	optdepends = numlockx: required for changign state of numlock at login
	optdepends = pavucontrol: required for detatched audio mixer
	optdepends = fluxmod-styles: A good set of Fluxbox themes to improve the appearence of window decorations
	optdepends = network-manager-applet: Manage network connections from panel
	optdepends = xterm: Terminal emulator
	optdepends = fluxbox: window manager for Lumina DE
	conflicts = insight-fm
	options = !lto
	options = !debug
	source = lumina-desktop-1.6.2.tar.gz::https://github.com/lumina-desktop/lumina/archive/refs/tags/v1.6.2.tar.gz
	sha512sums = 0bebdc89644af49232ad9a0b753dee501f3e99d6615ce926c71790932d228e3c6676ca4835aeaf6badf5455102278261e48bed0d3004fe9209aca68d620cae02

pkgname = lumina-desktop
