pkgbase = amneziawg-tools
	pkgdesc = VPN amnezia WireGuard tools
	pkgver = 1.5
	pkgrel = 1
	url = https://github.com/you-oops-dev/amneziawg-tools
	arch = any
	license = GPL
	makedepends = git
	makedepends = make
	makedepends = gcc
	makedepends = patch
	depends = bash
	optdepends = openresolv: for DNS functionality
	source = amneziawg-tools::git+https://github.com/you-oops-dev/amneziawg-tools.git
	source = config.exemple
	source = wg-quick.target.patch
	source = wg-quick.service.patch
	source = linux.bash.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = amneziawg-tools
