pkgbase = vim-json-git
	pkgdesc = Syntax highlighting for JSON, including JSON-specific (non-JS) warnings and quote concealing.
	pkgver = r102.3727f08
	pkgrel = 1
	url = https://github.com/elzr/vim-json
	arch = any
	license = MIT
	depends = vim
	provides = vim-json
	conflicts = vim-json
	source = git+https://github.com/elzr/vim-json.git
	sha256sums = SKIP

pkgname = vim-json-git
